<ul>
	<li>Easier order tracking <span class="iconf iconf-tick" aria-hidden="true">&nbsp;</span></li>
	<li>Fast convenient checkout <span class="iconf iconf-tick" aria-hidden="true">&nbsp;</span></li>
	<li>View your order history <span class="iconf iconf-tick" aria-hidden="true">&nbsp;</span></li>
	<li>Manage your delivery addresses <span class="iconf iconf-tick" aria-hidden="true">&nbsp;</span></li>
	<li>Notification of news and promos <span class="iconf iconf-tick" aria-hidden="true">&nbsp;</span></li>
	<li>Receive electronic offers <span class="iconf iconf-tick" aria-hidden="true">&nbsp;</span></li>
	<li>Subscription to our mailing list <span class="iconf iconf-tick" aria-hidden="true">&nbsp;</span></li>
</ul>