@import "blueprint";

@include blueprint;


@import "addin";

@mixin backgroundImage($image) {
	background-image: image-url('#{$image}', false, true);
	@if compass_env() == 'production' {
		background-image: inline-image('#{$image}');
	}	
}

.helloworld {
	color:red;
	@extend %my-logo;
}

.two-helloworld {
	color:red;
	@extend %my-logo;
}

.three-helloworld {
	color:red;
	@extend %my-logo;
}

.four-helloworld {
	color:red;
	@extend %my-logo;
}

%my-logo {
	@include backgroundImage('target-logo.jpg');
}

