<h1>Style Guide</h1>

<p>The following represents the Target Australia Global stylesheet:</p>

<ul>
	<li><a href="#Paragraphs">Paragraphs</a></li>
	<li><a href="#Headings">Headings</a></li>
	<li><a href="#Lists">Lists</a></li>
	<li><a href="#Tables">Tables</a></li>
</ul>

