<h2>Target Mobile App - Conditions of use</h2>
<p>Welcome! Please take few minutes to read the below information about the legal terms and conditions that apply to your use of Target’s Mobile App and any services or products that you order from us. If you don't agree to these terms and conditions you cannot continue use of our App.</p>
<h3>Acceptance</h3>
<p>By using this App you agree to and are bound by these terms and conditions which form a legally binding contract between you and Target Australia Pty Ltd ABN 75 004 250 944 (Target).
By agreeing to these terms and conditions you also agree to receive direct marketing offers and information and to the terms of our Privacy Policy. Click here to access our <a href="/corporate/privacy.html">Privacy Policy.</a></p>
<h3>Lawful Use</h3>
<p>You may only use this App for lawful purposes. You agree not to use it in a way that violates the rights of Target or any third party. The copyright, trade marks and other intellectual property rights within this App are owned by or licensed to Target and unauthorised use or misuse of them is forbidden.</p>
<p>Target and its third party service providers use Cookies to help manage, monitor and improve use of the App. A Cookie is a small data file that's stored by your web browser on your device. The information that we collect and share from the Cookies is anonymous and not personally identifiable. It does not contain your name, address, telephone number, email address or the details of your internet service provider.</p>
<p>There are links to sites that may be of interest to you. We will not be liable for any use of these sites. We cannot guarantee that use of this site will not cause damage to your devices. It is your responsibility to make sure that you have the proper equipment and anti-virus software to use this App safely.</p>
<h3>Competitions</h3>
<p>We run a variety of competitions and promotions throughout the year, each with their own separate terms and conditions of entry. Please carefully read those terms and conditions of entry before entering or participating in a competition or promotion.</p>
<h3>Online shopping</h3>
<p>We take reasonable care in ensuring that all details, prices, product images and descriptions are correct. If you believe that there is a typographical error, inaccuracy or oversight please contact us at <a href="mailto:target.online@target.com.au">target.online@target.com.au</a></p>
<p>While we have made every attempt to show textures, appearances and colours as accurately as possible, what you see will vary depending on your device. We cannot guarantee that product images are an exact representation of the actual products. If you're unhappy with your purchase, please review our <a href="/modal/refunds-returns">Returns Policy.</a></p>
<p>We reserve the right to limit the sale of products to reasonable or normal household quantities. Target may vary the prices on this App at any time. Product availability and product prices may vary between Target's retail stores and those found on online.</p>
<p>You can cancel your online order provided that it has not been dispatched. Please contact Target’s Customer Experience Centre. We will attempt to cancel your order without delay however occasionally it may not be possible to stop an order from being dispatched. If your order has been dispatched please refer to our <a href="/modal/refunds-returns">Returns Policy.</a></p>
<p>We will use our best efforts to ensure products ordered are available for delivery. This is not always possible and we may need to reject an order if a product is no longer available. In such cases, we will refund all amounts in full for such unavailable product. We cannot provide rainchecks for products ordered online.</p>
<p>We reserve the right to accept or reject an order for any reason. We only accept orders from Australia or otherwise clearly identified in the product information. By law, we cannot sell or deliver any cutting implements such as knives to anyone under the age of 16 in NSW and ACT, and under the age of 18 in Victoria. Film, video and computer games that have age restrictions will not be sold to anyone under the age stated on the product. When you order these types of products online, you are confirming that you're of lawful age and that the information you have provided us is true and accurate.</p>
<p>We reserve the right to request appropriate ID (eg. Photo ID) from you for verification purposes before we allow your order to be dispatched.</p>
<h3>Payment</h3>
<p>All orders are calculated in Australian Dollars (AUD). You must pay for your products purchased online at the time of placing an order. We accept payment by the payment methods offered in through our checkout procedure.</p>
<p>We take active steps to protect the details of your payment and purchase however in the absence of negligence, Target will not be responsible for any loss or damage that you may suffer if a third party acquires unauthorised access to data that you have provided to us when ordering online.</p>
<h3>Delivery</h3>
<p>A standard flat rate fee per delivery and re-delivery will apply. The delivery fee is non-refundable unless the goods fail to comply with the consumer guarantee provisions of the Australian Consumer Law.</p>
<p>We only deliver to addresses within Australia. Delivery lead time will vary depending on your location. Please note that all deliveries will require a signature upon delivery. If there's no authorised person at the delivery address to sign for the delivery, then the delivery driver will leave a card and the parcel will be returned to the nearest Australia Post office for you to collect. We will make every attempt to deliver goods within the estimated timeframe however please beware that delays may occur due to unforeseen circumstances or factors that are beyond our control. Find out more about our <a href="/modal/payment-delivery">delivery process.</a></p>
<h3>Damaged products</h3>
<p>Please refer to our <a href="/modal/refunds-returns">Returns Policy.</a></p>
<h3>Password and account security</h3>
<p>It is your responsibility to maintain the confidentiality of your password and account and all activities that take place under your password or account. If you will be using a shared device ensure that you logout of your account at the end of each session. If you believe that there has been a security breach or misuse of your password or account, please let us know immediately. Target will not be liable for any loss or damage that may occur as a result of your failure to comply with this clause.</p>
<h3>Changes to terms of use</h3>
<p>We may change or update these terms at any time by giving you notice as outlined below. Your ongoing use after notice from us will constitute your acceptance of such changes.</p>
<h3>Notices</h3>
<p>Target may give notice to you by electronic mail, conventional mail to your address contained in your order, or by notice posted on the Target website or this App. You may give notice to Target to <a href="mailto:target.online@target.com.au">target.online@target.com.au</a></p>
<h3>Unavailability</h3>
<p>We are not liable if this App is unavailable as a result of computer downtime, malfunction or other factor/s beyond our control.</p>
<h3>Termination</h3>
<p>If you breach these terms and conditions, we reserve the right to immediately suspend, terminate or limit your access to or use of this site. A notice as outlined above will be sent to you.</p>
<h3>Disclaimer/Limitation of Liability</h3>
<p>Your use of this App is at your own discretion. Target (i) makes no warranties or representations about any of the content; (ii) accepts no responsibility for any loss suffered by you or anyone else in connection with use of the App or its content and; (iii) does not guarantee that it will not cause damage or is free from viruses or any other defects or errors.</p>
<p>We exclude, to the maximum extent permitted by law, any liability which may arise as a result of the use of this App. Where liability cannot be excluded, any liability incurred by Target is limited as provided under the Australian Consumer Law.</p>
<p>We will not be held responsible or liable for any direct or indirect loss or damages caused or alleged to have been caused by your use, of, or reliance on, any content, goods or services available on an external site. Any concerns regarding an external link, should be directed to its responsible site administrator or webmaster.</p>
<h3>Governing law</h3>
<p>Target operates from its offices in Australia. The laws of the State of Victoria, Australia govern these Terms of use and use of this App.</p>
<h3>Comments, feedback and other</h3>
<p>We're always happy to hear from you and welcome your comments, suggestions or feedback for improvement. Please drop us a line at <a href="mailto:target.online@target.com.au">target.online@target.com.au</a></p>
