body {padding-top:0; margin-top:0 !important ;}
td, th {font-size:14px; vertical-align: top; font-family: Arial; color:#666666; font-weight: 400; line-height: 20px;}
table {border-collapse: collapse;}
p, h1, h2, h3, h4, h5, h6, span {padding:0; margin:15px 0 15px 0;}


h1 {font-size: 24px; text-decoration: none; line-height: 28px;}

h3 {font-size: 20px;}
h4 {font-size: 16px; font-weight: 700;}

a:hover {text-decoration:none;}
img {display:block;}
small {display: block; margin: 10px 0; font-size: 10px;}

.head img {margin: 20px 0 0;}

.panel {padding: 20px;}
.panel.w {background-color: #ffffff; border: 1px solid #999999;}
.panel p {margin: 0;}
.panel td {padding-bottom: 5px;}

.sum {width: 100%; border-spacing: 0;}
.sum thead {background-color: #3d3935;}
.sum th {color: #ffffff;}
.sum th, .sum tr, .sum td, .p {padding: 15px 0;}
.sum th.first {border-left: 0;}
.sum th.last {border-right: 0;}
.discount {background: #dffddd; font-weight: bold;}
.discount td {color: #60aa30;}
.total {background: #dffddd; font-weight: bold;}
.total td {color: #008800; font-size: 16px;}
.info td {border: 0;}
.con {background: #e0e0e0;}
.con td {padding: 8px 15px;}

.l {text-align: left;}
.r {text-align: right;}
.c {text-align: center;}

.sn {color: #ba0000; font-weight: bold; margin: 0 0 0.5em;}
.bd {font-weight: bold;}


.nw {white-space: nowrap;}

.gap {height: 20px;}

.o {background-color: #f3f2f2;}
.e {background-color: #f8f8f9;}

.o {background-color: #f3f2f2;}
.e {background-color: #f8f8f9;}

.bc {margin: 0 auto;}

.eban {margin: 5px 0;}

/* Promos */
.rc {padding-bottom: 0;}
.rc td {padding-bottom: 0; border-bottom: 0;}
.app-deal {color: #60aa30; margin: 0 0 8px 0;}

.max {max-width: 600px; display: block;}

.tiny {font-size: 12px;}
.small {font-size: 14px;}
.large {font-size: 16px;}

.total-text-align td {vertical-align: middle; padding: 8px}

.text-right-align { text-align: right;}
.text-left-align { text-align: left;}

.table-cell-spacing {border-collapse: separate; border-spacing: 3px;}
.bgcolor-gray td {background: #f3f2f2;}
.bgcolor-green td {background: #dffddd; font-weight: bold;}
.bgcolor-green td span, .bgcolor-green td h3 {color: #008800;}
.bgcolor-transparent td {background: #ffffff;}
.table-max-width {max-width: 600px; width: 100%;}
.table-max-width-margin {max-width: 600px; width: 100%; margin: 0 auto 20px;}

.order-details {font-family: Arial; font-size: 16px; color: #666666; text-decoration: none;}
.order-details-label {font-weight: 700;}
.order-details-text {font-weight: 400;}

.line {height: 1px; background-color: #333333;}

.login-text { font-size: 16px; color: #666666; font-weight: 400; text-decoration: none;}
.login-text .link { color: #ba0000; font-weight: 700; text-decoration: underline;}


.bold {font-weight: 700}
.text-highlighter {height: 18px; color: #009de5; font-weight: 700; text-decoration: none;}
.order-items-head {font-size: 20px; color: #000000; font-weight: 700; text-decoration: none; line-height: 16px; border-bottom: 1px solid #333; padding: 0 0 20px 0; width: 100%;}

.delivery-address-head {font-size: 16px; color: #666666; font-weight: 700; text-decoration: none;}

.greeting-text {font-size: 24px; text-decoration: none; line-height: 1em;}
.track-delivery-button { display: inline-block;width:100%; padding:16px 0;background-color: #009de5;font-size: 16px;margin:16px 0; color: #ffffff; font-weight: 700; text-decoration: none; text-align: center; }
.track-delivery-button-text{ display: block; width: 100%; background-color: #009de5; font-size: 16px; color: #ffffff; font-weight: 700; text-decoration: none; text-align: center;line-height:15px;vertical-align: middle;}
.link {color: #666666; text-decoration: underline; font-weight: 700;}
.sent-status {color: #82be2f;}
.out-of-stock {color: #ba0000;}
.shipped-status {color: #009de5;}
.columns-table { width: 100% !important;}
.font-black {color: #000000;}
.x-large {font-size: 17px;}
