<%@ tag body-content="empty" trimDirectiveWhitespaces="true" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@ taglib prefix="ycommerce" uri="/WEB-INF/tld/ycommercetags.tld" %>
<%@ taglib prefix="facet" tagdir="/WEB-INF/tags/desktop/nav/facet" %>
<%@ taglib prefix="nav" tagdir="/WEB-INF/tags/desktop/nav" %>
<%@ taglib prefix="theme" tagdir="/WEB-INF/tags/shared/theme" %>
<%@ taglib prefix="component" tagdir="/WEB-INF/tags/desktop/common/components" %>
<%@ attribute name="facets" required="true" type="java.lang.Object" %>
<%@ attribute name="facetName" required="true" %>
<%@ attribute name="additionalAttributes" required="false" %>

<ul class="FacetIsolated">
	<c:if test="${not empty facets.values}">
		<facet:section facets="${facets.values}" facetName="${facetName}" additionalAttributes="${additionalAttributes}" />
	</c:if>
</ul>
