<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

#if(${ctx.order.cncStoreNumber})
	#set( $deliveryDisplay = ${ctx.order.deliveryMode.name} + " " )
#else
	#set( $deliveryDisplay = "" )
#end

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="css/email.css">
</head>
<body>
	<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">

		<tr>
			<td>
				<!--[if (gte mso 9)]><table width="600" align="center"><tr><td><![endif]-->

				<table align="center" class="max bc">

					${ctx.cmsSlotContents.EmailHeaderContentSlot}

					${ctx.cmsSlotContents.EmailMarketingContentSlot1}

					<tr>
						<td>
							<p>Hi ${ctx.displayName},</p>
						</td>
					</tr>

					<tr>
						<td>
							<table>
								<tr>
									#if(${ctx.order.cncStoreNumber})
										<td>
									#else
										<td>
									#end
										<h1>Your order has been modified</h1>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					#if(${ctx.order.cncStoreNumber})
						<tr>
							<td width="100%" class="l">
							<p>Bring this barcode to the Click &amp; Collect counter instore for collection</p>
							</td>
						</tr>
						<tr>
							<td width="100%" class="c">
								<img src="${ctx.emailBaseUrl}${ctx.order.barcodePngUrl}" width="224" height="105" class="bc"/>
							</td>
						</tr>
					#end
					<tr>
						<td>
							<p>The following items from your order #${ctx.order.code}#if(${ctx.order.cncStoreNumber}) (click + collect barcode number ${ctx.order.barcodeNumber}&#x200b;)#end have been cancelled.</p>
						</td>
					</tr>

					${ctx.cmsSlotContents.EmailContentSlot1}

					<tr>
						<td>
							<p>Your amended order details are below:</p>
						</td>
					</tr>

					${ctx.cmsSlotContents.EmailContentSlot2}

					<tr>
						<td>
							<p>We're getting the amount of ${ctx.refundAmount.formattedValue} #if(${ctx.order.flybuysDiscountData} && ${ctx.order.flybuysDiscountData.value.value} > 0)and any flybuys points#end taken back to you as fast as we can. Please allow up to seven business days for this process to be completed.</p>
							<p>If you have any questions contact Customer Support on <span class="nw">${ctx.targetContactNumber}</span> (Monday to Friday 9am-7pm AEDT and Saturday 9am-5pm AEDT)  or <a href="mailto:${ctx.targetContactEmail}">${ctx.targetContactEmail}</a>.</p>
							<h4>Thanks,</h4>
						</td>
					</tr>

					${ctx.cmsSlotContents.EmailContentSlot3}

					${ctx.cmsSlotContents.EmailMarketingContentSlot2}

				</table>

				<!--[if (gte mso 9)]></td></tr></table><![endif]-->
			</td>
		</tr>
	</table>
</body>
</html>