<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="css/email.css">
</head>
<body>
	<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">

		<tr>
			<td>
				<!--[if (gte mso 9)]><table width="600" align="center"><tr><td><![endif]-->

				<table align="center" class="max bc">

					${ctx.cmsSlotContents.EmailHeaderContentSlot}

					<tr>
						<td>
							<p>Hi ${ctx.reversalData.firstName} ${ctx.reversalData.LastName},</p>
							<p>
								We are sorry, your gift card ${ctx.reversalData.maskedCardNumber}  payment of $${ctx.reversalData.amount}  (receipt no: ${ctx.reversalData.receiptNumber} ) could not be refunded. 
								You're not required to do anything, our Customer Support team will be in contact with you to refund your payment.
							</p>
							<p>If you have any questions contact Customer Support on <span class="nw">${ctx.targetContactNumber}</span> (Monday to Friday 9am-7pm AEDT and Saturday 9am-5pm AEDT)  or <a href="mailto:${ctx.targetContactEmail}">${ctx.targetContactEmail}</a>.</p>
							<h4>Thanks,</h4>
						</td>
					</tr>

					${ctx.cmsSlotContents.EmailContentSlot1}

					${ctx.cmsSlotContents.EmailContentSlot2}

					${ctx.cmsSlotContents.EmailContentSlot3}

				</table>

				<!--[if (gte mso 9)]></td></tr></table><![endif]-->
			</td>
		</tr>
	</table>
</body>
</html>
