<link rel="stylesheet" type="text/css" href="css/email.css">

#set ( $order = ${ctx.get("parentContext").order})
#set ( $consignment = ${ctx.get("parentContext").consignment})

#macro( getAppliedPromotionForShippedEntry $appliedProductPromotions $entryNumber )
	#if (!$appliedProductPromotions.isEmpty())
		#foreach( $promotion in $appliedProductPromotions)
			#set ($displayed = false)
				#foreach ($consumedEntry in $promotion.consumedEntries)
				#if (!$displayed && ($consumedEntry.orderEntryNumber == $entryNumber))
					#set ($displayed = true)
					<p class="app-deal">${promotion.description}</p>
				#end
			#end
		#end
	#end
#end

#macro( getRecipientForShippedEntry $recipients )
	#if($recipients)
		#foreach( $recipient in $recipients )
			<span class="small bd">Recipient: ${recipient.firstName} ${recipient.lastName}</span><br />
			<span class="small">Email: ${recipient.recipientEmailAddress}</span><br />
		#end
	#end
#end

#macro( entryShippedRow $entry $shippedQuantity $consignmentEntryQuantity $totalShippedPrice )
	<tr class="info">
		<td>
			<span><strong>${entry.product.name}</strong></span><br />
			<span class="small">Item Code: ${entry.product.code}</span><br />
			<span class="small">Unit Price: ${entry.basePrice.formattedValue}</span><br />
			<span class="small">QTY: ${consignmentEntryQuantity}</span><br />
			#if($shippedQuantity)
				<span class="small">Shipped QTY: ${shippedQuantity}</span><br />
			#end
			#if($entry.discountPrice && $entry.discountPrice.value > 0)
				<span class="small app-deal" >Savings: ${entry.discountPrice.formattedValue}</span><br />
			#end
			<span class="small">Item Total: ${totalShippedPrice.formattedValue}</span><br />
			#getRecipientForShippedEntry( $entry.recipients )
			#getAppliedPromotionForShippedEntry( $order.appliedProductPromotions $entry.entryNumber )
		</td>
	</tr>
#end

<tr>
	<td>
		<h3>Shipment Details</h3>
		<table width="100%">
			<tr>
				<td>
					<table width="100%">
						<tbody>

							<tr>
								<td><span>Consignment ID:</span><br /> 
								<span>$consignment.code #if(${consignment.trackingID}) &ndash; <a href="${consignment.trackingID}">Track It</a>#end</span></td>
							</tr>

							<tr>
								<td class="gap"></td>
							</tr>

							#foreach( $entry in $consignment.entries )
								#entryShippedRow( $entry.orderEntry $entry.shippedQuantity $entry.quantity $entry.totalShippedPrice )
								<tr>
									<td class="gap"></td>
								</tr>
							#end							

						</tbody>
					</table>
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td class="gap"></td>
</tr>