<hr />
<h2 id="BabiesSizes">Babies' Sizes</h2>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>Size</th>
                    <th>Tiny baby<br />
                    00000</th>
                    <th>New baby<br />
                    0000</th>
                    <th>0-3 months<br />
                    000</th>
                    <th>3-6 months<br />
                    00</th>
                    <th>6-12 months<br />
                    0</th>
                    <th>12-18 months<br />
                    1</th>
                    <th>18-24 months<br />
                    2</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Weight (kg)</td>
                    <td>3</td>
                    <td>4</td>
                    <td>6</td>
                    <td>8</td>
                    <td>10</td>
                    <td>12</td>
                    <td>14</td>
                </tr>
                <tr class="odd">
                    <td>Height (cm)</td>
                    <td>50</td>
                    <td>56</td>
                    <td>62</td>
                    <td>68</td>
                    <td>76</td>
                    <td>84</td>
                    <td>91</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>