<h4>Kid's Shoe Sizes</h4>
<div class="scroll-for-tiny">
    <div class="scrollable-pane">
        <table class="size-chart">
            <thead>
                <tr>
                    <th>KIDS</th>
                    <th colspan="2">Infant</th>
                    <th colspan="12">First Walkers</th>
                    <th colspan="5">Junior</th>
                    <th colspan="9">Senior</th>
                </tr>
            </thead>
            <tbody>
                <tr class="even">
                    <td>Age</td>
                    <td colspan="2">0-6m</td>
                    <td colspan="6">1-2y</td>
                    <td colspan="2">2-3y</td>
                    <td colspan="4">3-4y</td>
                    <td>4-5y</td>
                    <td colspan="4">6-7y</td>
                    <td colspan="2">7-8y</td>
                    <td colspan="2">8-9y</td>
                    <td colspan="3">9-10y</td>
                    <td colspan="2">11-12y</td>
                </tr>
                <tr class="odd">
                    <td>AUS</td>
                    <td>1</td>
                    <td>2</td>
                    <td colspan="2">3</td>
                    <td colspan="2">4</td>
                    <td colspan="2">5</td>
                    <td>6</td>
                    <td>7</td>
                    <td colspan="2">8</td>
                    <td colspan="2">9</td>
                    <td>10</td>
                    <td colspan="2">11</td>
                    <td colspan="2">12</td>
                    <td>13</td>
                    <td>1a</td>
                    <td colspan="2">2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td colspan="2">6</td>
                </tr>
                <tr class="even">
                    <td>UK</td>
                    <td>1</td>
                    <td>2</td>
                    <td colspan="2">3</td>
                    <td colspan="2">4</td>
                    <td colspan="2">5</td>
                    <td>6</td>
                    <td>7</td>
                    <td colspan="2">8</td>
                    <td colspan="2">9</td>
                    <td>10</td>
                    <td colspan="2">11</td>
                    <td colspan="2">12</td>
                    <td>13</td>
                    <td>1a</td>
                    <td colspan="2">2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td colspan="2">6</td>
                </tr>
                <tr class="odd">
                    <td>US</td>
                    <td>3</td>
                    <td>4</td>
                    <td colspan="2">5</td>
                    <td colspan="2">6</td>
                    <td colspan="2">7</td>
                    <td>8</td>
                    <td>9</td>
                    <td colspan="2">10</td>
                    <td colspan="2">11</td>
                    <td>12</td>
                    <td colspan="2">13</td>
                    <td colspan="2">14</td>
                    <td>15</td>
                    <td>3a</td>
                    <td colspan="2">4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td colspan="2">8</td>
                </tr>
                <tr class="even">
                    <td>EUR</td>
                    <td>17</td>
                    <td>18</td>
                    <td>19</td>
                    <td colspan="2">20</td>
                    <td colspan="2">21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td colspan="2">26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td colspan="2">30</td>
                    <td>31</td>
                    <td>32</td>
                    <td>33</td>
                    <td>34</td>
                    <td>35</td>
                    <td>36</td>
                    <td>37</td>
                    <td>38</td>
                    <td>39</td>
                    <td>40</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>