<h1>Refunds and Returns</h1>
<h2>We're not happy unless you are!</h2>
<h3>How do I return items?</h3>
<p>You can return items that you have purchased from Target Online back to us via the post or to your local Target or Target Country store.</p>
<p>If the item/s is large or bulky, please contact us at <a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</p>
<p><sub>*Please note that our <a href="http://www.target.com.au/help/refund-policy.html">Refund Policy</a> applies to the return of all products purchased from Target Online.</sub></p>
<p>We also reserve the right to charge you for any postage costs incurred for returns, should a refund or exchange be declined or if you&rsquo;ve changed your mind.</p>
<p>If you've requested an exchange of a product that you&rsquo;ve purchased online, we&rsquo;ll do our best to fulfil your request, however please note that this is subject to stock availability.</p>
<p>If you have any questions please drop us a line at <a href="mailto:targetonlineshopping@target.com.au">targetonlineshopping@target.com.au</a> or call 1300 753 567 Monday to Friday between 8.30am and 8.30pm AEST and Saturday 10am - 3pm AEST.</p>
<h3>Returns to store</h3>
<p>You can return items that you have purchased online to your local store for an exchange or refund, but you must present a proof of purchase, ideally your tax invoice. Our store team member will assess the items and determine whether a refund or exchange will be offered in accordance with our Refund Policy. Refunds will be issued in the same form of tender, therefore if you paid for your online order through PayPal, you are required to present the card associated with your PayPal account in store.</p>
<h3>Returns via the post</h3>
<p>To return an item that you have purchased from Target Online back to us via the post:</p>
<ol>
    <li>Fill out the &lsquo;returns form&rsquo; which comes with your parcel.</li>
    <li>Cut along the dotted line where shown.</li>
    <li>Place the &lsquo;returns form&rsquo; with the items that you are returning and carefully wrap (it&rsquo;s best if the items are in their original condition).</li>
    <li>Take the remaining &lsquo;eParcel&rsquo; slip (the one with the barcode) and stick on the front of the parcel.</li>
    <li>Take the parcel to your local Post Office. They&rsquo;ll then scan the barcode and provide you with a return confirmation from Australia Post so that you&rsquo;ll be able to track your return.</li>
</ol>