<div>
	<table width="100%" cellspacing="0" style="margin:0;padding:0;table-layout:auto;border:1px solid #1E4EBF;">
		<tbody>
			<tr>
				<td colspan="4" class="structureViewSection">
					<cockpit code="SitewideNotification" />
				</td>
			</tr>
			<tr>
				<td colspan="6" class="structureViewSection">
					<cockpit code="UtilityMenu" />
					<cockpit code="MyAccountMenu" />
					<cockpit code="SiteLogo" />
					<cockpit code="MiniCart" />
					<cockpit code="NavigationBar" />
					<cockpit code="BelowNavigationBar" />
				</td>
			</tr>
			<tr>
				<td colspan="6" height="58px" style="vertical-align:middle;" class="structureViewSection">
					<div>Breadcrumb</div>
				</td>
			</tr>
			<tr>
				<td colspan="6" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section1" />
				</td>
			</tr>
			<tr>
				<td rowspan="3" width="25%" style="vertical-align:middle;" class="structureViewSection">
					<div>LeftNav</div>
				</td>
			</tr>
			<tr>
				<td width="75%" colspan="5" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section2" />
				</td>
			</tr>
			<tr>
				<td width="75%" height="249px" rowspan="2" colspan="5" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section3" />
				</td>
			</tr>
			<tr>
				<td width="25%" height="249px" style="vertical-align:top;" class="structureViewSection">
					<cockpit code="Section4" />
				</td>
			</tr>
			<tr>
				<td colspan="6" class="structureViewSection">
					<cockpit code="FooterLinksColumn1" />
					<cockpit code="FooterLinksColumn2" />
					<cockpit code="FooterLinksColumn3" />
					<cockpit code="FooterSupportContainer" />
					<cockpit code="FooterUtilityLeftContainer" />
					<cockpit code="FooterUtilityRightContainer" />
					<cockpit code="FooterLegalContainer" />
					<cockpit code="FooterSocialContainer" />
				</td>
			</tr>
			<tr>
				<td colspan="6" class="structureViewSection">
					<cockpit code="FooterSnippet" />
				</td>
			</tr>
		</tbody>
	</table>
	<div style="width:100%; border-top: 2px solid #bbb" class="cmsContentEditor">
		<cockpit code="editor" />
	</div>
</div>